# Keil 忽略文件
Objects/
Listings/
*.o
*.d
*.axf
*.hex
*.bin
*.htm
*.map
*.lnp
*.sct
*.dep
*.uvopt
*.uvgui
*.exe

# STM32CubeIDE 忽略文件
Debug/
Release/
*.elf
*.bin
*.hex
*.list
*.map
.cproject
.project
.settings/
.launch
.vscode/tasks.json
.vscode/tasks.json
.calude
.vscode
.claude/settings.local.json
.vscode/tasks.json

